.game-detail {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; // Align items to top of container
  padding: 40px;

  .game-image {
    margin-right: 50px;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .game-info {
    width: calc(
      40% - 50px
    ); // Width is 40% of container minus margin from image
  }

  .game-info {
    width: 60%;

    .game-name {
      font-size: 36px;
      margin-bottom: 20px;
    }

    .game-category {
      font-size: 20px;
      margin-bottom: 10px;
    }

    .game-release-date,
    .game-price {
      font-size: 16px;
      margin-bottom: 10px;
    }

    .game-description {
      font-size: 18px;
      line-height: 1.5;
    }
  }
}
.description {
  width: 100%; // Full width for description
  margin-top: 40px;
}

.image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vh; /* make the image full screen */
  height: 100%; /* make the image full screen */
  z-index: -1; /* put the image behind other elements */
}

.background {
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 10rem;
  padding: 20px 20px 20px 20px;
  border-radius: 20px;
}

p {
  font-size: 25px;
}

.game-price {
  font-weight: bold;
  font-size: 40px;
}

h1 {
  color: white;
  text-align: center;
  font-size: xxx-large;
}
