.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vh; /* make the image full screen */
  height: auto; /* make the image full screen */
  z-index: -1; /* put the image behind other elements */
}

form {
  display: flex;
  top: 50%;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  color: white;
  padding-top: 20%;

  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    label {
      font-weight: bold;
      margin-bottom: 5px;
    }

    input {
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  }

  button[type="submit"] {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #0062cc;
    }
  }

  .error {
    padding-top: 20px;
    color: red;
    font-size: 20px;
  }

  select {
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #fff; /* add a white background */
      color: #000; /* set text color to black */
      cursor: pointer;

      /* modify the appearance of the dropdown arrow */
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3E%3Cpath d='M6.1 10.2l3.9-4.5c.4-.4 1-.4 1.4 0l3.9 4.5c.4.4.4 1 0 1.4-.4.4-1 .4-1.4 0l-3.3-3.8-3.3 3.8c-.4.4-1 .4-1.4 0-.5-.4-.5-1 0-1.4z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: right 10px center;
    }

  input[type="text"][formControlName="description"] {
  height: 100px;
}

}

.text {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  font-size: 22px;

  span {
    color: #00bfff;
    cursor: pointer;
  }
}
