.image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Style for the category select */
.game-category {
  align-items: center;
}

#category-select {
  display: flex;
  gap: 10px;
  // -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: grey;
  height: 2rem;
  width: 17rem;
  text-decoration: none;
  color: white;
  font-size: 24px;
  padding-left: 1rem;
}
#labelt {
  font-size: 32px;
  color: white;
  padding-bottom: 0.5rem;
}
/* Style for the category select options */
#category-select option {
  background-color: #31312c; /* Change this to your preferred background color */
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 18px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 10rem;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.8);
}

li:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.game-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

div {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

p {
  margin: 0;
  font-size: 23px;
  line-height: 1.4;
}

p:first-child {
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 5px;
}

p:last-child {
  font-size: 21px;
  font-weight: bold;
  margin-top: auto;
}

mat-icon {
  color: black;
  width: 80px;
  position: relative;
  top: 60px;
  font-size: 50px;
  height: 50px;
}
