<img alt="home-background" class="image" src="./../../../assets/background3.png">

<div class="game-category">
  <label id="labelt" for="category-select">Filter by category:</label>
  <select id="category-select" [(ngModel)]="selectedCategory" (ngModelChange)="onCategorySelect()">
    <option value="">All</option>
    <option value="MOBA">MOBA</option>
    <option value="RPG">RPG</option>
    <option value="MMO">MMO</option>
    <option value="FPS">FPS</option>
    <option value="Action">Action</option>
  </select>
</div>

<ul>
  <li *ngFor="let game of games">
    <a [routerLink]="game.id">
      <div class="game-card">
        <img class="game-img" [src]="game.img" alt="{{game.gameName}}">
      </div>
      <div class="game-info">
        <p class="game-name">{{ game.gameName }}</p>
        <p class="game-category">{{ game.category }}</p>
        <p class="game-price">{{ game.price }}€</p>
      </div>
    </a>
    <mat-icon (click)="addCart(game)">shopping_cart</mat-icon>
  </li>
</ul>
