<img class="background" alt="home-background" class="image" src="./../../../assets/background3.png">


<div class="user-info" *ngIf="this.currentUser$ | async as user">
  <div class="user-details">
    <h1 class="details-title">User Details</h1>
    <div class="user-info">
      <div class="user-avatar">
        <img src="{{ user.img }}" alt="User Avatar">
      </div>
      <div class="user-details-info">
        <p>Name: {{ user.name }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Address: {{ user.address || 'Calle de virato 20' }}</p>
      </div>
      <div class="user-options">
        <mat-icon (click)="deleteUser(user)">delete</mat-icon>
        <mat-icon (click)="editUser()">edit</mat-icon>
        <mat-icon class="log-out" (click)="logoutUser()">exit_to_app</mat-icon>
      </div>
    </div>
    <div class="user-games">
      <h2>My Games</h2>
      <ul>
        <li *ngFor="let game of user.myGames">
          <div class="game-info">
            <img class="game-photo" src="{{ game.img }}" alt="Game Cover">
            <div class="game-details">
              <p>{{ game.gameName }}</p>
              <p>{{ game.category }}</p>
              <p>Release Date: {{ game.releaseDate }}</p>
              <p>Price: {{ game.price }}€</p>
            </div>
            <div class="mat-modify">
              <mat-icon (click)="deleteGame(game)">delete</mat-icon>
              <mat-icon (click)="editGame(game)">edit</mat-icon>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>
