<nav>
  <ul>
    <li class="left-section" *ngFor="let bt of btns.slice(0, 2)">
      <a [routerLink]="bt.path" (click)="onClickButton()">
        <mat-icon>{{ bt.icon }}</mat-icon>
        {{ bt.label }}
      </a>
    </li>
    <li class="logo">
      <img src="./../../../assets/menu-logo.png" alt="Logo" [ngClass]="{'rotate': isButtonClicked}">
    </li>
    <li class="right-section" *ngFor="let bt of btns.slice(2, 4)">
      <a [routerLink]="bt.path" (click)="onClickButton()">
        <mat-icon>{{ bt.icon }}</mat-icon>
        {{ bt.label }}
      </a>
    </li>
  </ul>
</nav>
