nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 13px;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 10px;

    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 16px;
      text-align: center;

      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #333;
        font-weight: bold;
        font-size: 14px;
        margin-top: 8px;

        mat-icon {
          font-size: 85px;
          height: 85px;
          width: 85px;
          transition: all 0.2s ease-in-out;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
