.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vh;
  height: auto;
  z-index: -1;
}

.button {
  position: absolute;
  top: 120%;
  left: 88%;
  transform: translate(-50%, -50%);
  background-color: #54adff;
  opacity: 0.8;
  color: #ffffff;
  border: none;
  padding: 30px 60px;
  border-radius: 15px;
  font-size: 24px;
}

.text {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  font-size: 22px;

  span {
    color: #00bfff;
    cursor: pointer;
  }
}

.title {
  position: absolute;
  top: 60%;
  left: 5%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 50px;
  width: 130%; /* adjust the width as needed */
}

.title {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
