<img class="background" alt="home-background" class="image" src="./../../../assets/backgroun2.jpg">
<h1>Login</h1>
<form [formGroup]="login" (ngSubmit)="handleSubmit()">
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email" required />
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password" required />
  </div>
  <button type="submit">LOGIN</button>
  <p *ngIf="isSuccess">You have logged successfully!</p>
  <div class="error" *ngIf="isError">Login failed. Credentials incorrect</div>
</form>
