* {
  box-sizing: border-box;
}

html,
body {
  min-height: 180vh;
  min-width: 177.2vw;
}

body {
  padding: 1rem;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
