<div class="menu" *ngIf="currentPage !== '/home' && currentPage !== '/login' && currentPage !== '/register'">
  <ng-content></ng-content>
</div>
<div class="login" *ngIf="currentPage === '/login'">
  <p>Don't you have an account yet? <span routerLink="/register">Register</span></p>
</div>
<div class="login" *ngIf="currentPage === '/register'">
  <p>You already have an account? <span routerLink="/login">Login</span></p>
</div>
<div class="login" *ngIf="currentPage ===  '/home' ">
  <p>You already have an account? <span routerLink="/login">Login</span></p>
</div>
